<!DOCTYPE html>
<html>
<head>
  <title>SampleApp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "home", "" %></li>
        <li><%= link_to "help", "" %></li>
        <li><%= link_to "login in", "" %></li>
      </ul>
    </nav>
  </div>
</header>


<%= yield %>

</body>
</html>
